# Python cache files
__pycache__/
*.py[cod]
*.pyo
.pyc

# Virtual environment
venv/
.env/
.venv/
launch.json

# Environment files or sensitive credentials
.env
config.yaml
secrets.json

# Other files
data_analyze.csv